// Custom styles.
body {
    background-image:url(/images/background.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
.main-inner {
    opacity: 0.9;
}
.hider_title{
    font-family: "Lato";
    cursor: pointer;
}
.close:after{
    content: "▼";
}
.open:after{
    content: "▲";
}