body {
  position: relative;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #555;
  background: #eee;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.content-wrap {
  margin: auto;
  /* float: left; */
  box-sizing: border-box;
  padding: 40px;
  width: calc(100% - 252px);
  background: rgba(255, 255, 255, 0.88);
  min-height: 700px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
  border-radius: initial;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrap {
    width: 100%;
    padding: 20px;
    border-radius: initial;
  }
}
@media (max-width: 767px) {
  .content-wrap {
    width: 100%;
    padding: 20px;
    min-height: auto;
    border-radius: initial;
  }
}